<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&family=Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Meeti - <%-nombrePagina%> </title>
</head>
<body>
    <header class="site-header contenedor">
        <a href="/">
            <img src="/img/logo.png" alt="Logo Meeti">
        </a>
        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="#">Iniciar sesión</a>
            <a href="/crear-cuenta">Registrarse</a>
        </nav>
    </header>
    <%- body %>

    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="#">Iniciar sesión</a>
            <a href="/crear-cuenta">Registrarse</a>
        </nav>
        <p class="copyright">Todos los derechos reservados MeetPeople <%- year %> &copy;</p>
    </footer>
</body>
</html>